-
  const first_route = {
    "head": "Маршрут №1 <span>(Новый Район →→→ Вокзал →→ Ботанический сад → Рынок)</span>",
    "body": {
      "sprinter": {
        "auto_name": "Мерседес Спринтер",
        "auto_list": {
          "row_1": {
            "number": "м292см",
            "char": [
              "длина средняя",
              "сиденья средние по удобству", 
              "несильный наклон",
              "при езде неслабо трясется",
              "доедет быстро"
            ]
          },
          "row_2": {
            "number": "м874сс",
            "char": [
              "старая модель",
              "много места", 
              "сиденья не очень удобные",
              "а задние — старые",
              "скорость норм"
              ]
          },
          "row_3": {
            "number": "х710на",
            "char": [
              "Новая модель. Много места, длинный, удобные сиденья и тепло ★",
              ]
          },
          "row_4": {
            "number": "а709рр",
            "char": [
              "Средняя модель. Длинный, но места между сиденьями мало и наклон недостаточный. Скорость норм. <i>Из-за тонировки ночью может быть плохо видно, где проезжаешь</i>",
              ]
          },
          "rowE_5": {
            "number": "а437кс",
            "char": [
              "Средняя модель. Длинный, места много. Сиденья невысокие",
              ]
          },
          "row_6": {
            "number": "а886мм",
            "char": [
              "Средняя модель. Места между сиденьями много, не трясет, тепло. Доедет быстро. Но останавливает, даже если полный ★",
              ]
          },
          "row_7": {
            "number": "а465мм",
            "char": [
              "Средняя модель. Места хватает, не трясет, тепло. Автодверь. Доедет быстро",
              ]
          },
          "row_8": {
            "number": "х191тм",
            "char": [
              "Средняя модель. Длинный, места хватает. Доедет быстро",
              ]
          },
          "row_9": {
            "number": "е332ак",
            "char": [
              "Средняя модель. Длинный, сиденья удобные, тепло. Автодверь",
              ]
          },
          "row_10": {
            "number": "м773тв",
            "char": [
              "Средняя модель. Длинный, удобный, тепло. Автодверь. Доедет быстро",
              ]
          }
        }
      },
      "volkswagen": {
        "auto_name": "Фольксваген",
        "auto_list": {
          "row_1": {
            "number": "м619уу",
            "char": [
              "Места в салоне хватает, для ног также, удобство кресел среднее, тепло. Не останавливает, если полный. Автодверь. Доедет быстро",
              ]
          },
          "row_2": {
            "number": "е747му",
            "char": [
              "Длинный. Салон приятный, сиденья достаточно удобные, места между сиденьями хватает",
              ]
          },
          "row_3": {
            "number": "м345тв",
            "char": [
              "Длинный. Сиденья мягкие. Едет мягко. Автодверь. Доедет быстро ★",
              ]
          }
        }
      },
      "transit": {
        "auto_name": "Форд Транзит",
        "auto_list": {
          "row_1": {
            "number": "а554рн",
            "char": [
              "Места между сиденьями впритык, а еще есть боковые сиденья. Внутри низко, трясет и шумно"
              ]
          }
        }
      },
      "gasel": {
        "auto_name": "Газель",
        "auto_list": {
          "row_1": {
            "number": "а758рс",
            "char": [
              "Места между сиденьями мало, есть боковые и обратные сиденья. Трясет. Скорость средняя"
              ]
          },
          "row_2": {
            "number": "т885тт",
            "char": [
              "Места между сиденьями мало, есть боковые и обратные сиденья. Трясет несильно. Не останавливает, если полный. Скорость норм"
              ]
          }
        }
      }
    }
  }
