-
  const list = {
    "sprinter": {
      "auto_name": "мерседес спринтер",
      "auto_list": [
        [
          "м292см",
          "длина средняя, сиденья средние по удобству, трясет, несильный наклон, при езде неслабо трясется, доедет быстро"
        ],
        [
          "м874сс",
          "старая модель, много места, сиденья не очень удобные, а задние — старые, скорость норм"
        ],
        [
          "х710на ★",
          "новая модель, много места, длинный, удобные сиденья и тепло"
        ],
        [
          "а709рр",
          "средняя модель, длинный, но места между сиденьями мало и наклон недостаточный, скорость норм, из-за тонировки ночью может быть плохо видно, где проезжаешь"
        ],
        [
          "а437кс",
          "средняя модель, длинный, места много, сиденья невысокие"
        ],
        [
          "а886мм ★",
          "средняя модель, места между сиденьями много, не трясет, тепло, доедет быстро, но останавливает, даже если полный"
        ],
        [
          "а465мм",
          "средняя модель, места хватает, не трясет, тепло, автодверь, доедет быстро"
        ],
        [
          "х191тм",
          "средняя модель, длинный, места хватает, доедет быстро"
        ],
        [
          "е332ак",
          "средняя модель, длинный, сиденья удобные, тепло, автодверь"
        ],
        [
          "м773тв",
          "средняя модель, длинный, удобный, тепло, автодверь, доедет быстро"
        ],
        [
          "о622оа",
          "средняя модель, недлинный, места хватает, сиденья обычные, автодверь, не забивает полную"
        ],
        [
          "м831тв",
          "средняя модель, длинный, места мало, дверь не авто"
        ],
        [
          "а846су",
          "средняя модель, длинный, места хватает, сиденья нормальные"
        ],
        [
          "м795рр ★",
          "средняя модель, недлинный, одна дверь, места впритык, сиденья удобные, водителю лайк"
        ]
      ]
    },
    "volkswagen": {
      "auto_name": "фольксваген",
      "auto_list": [
        [
          "м619уу",
          "места в салоне хватает, для ног также, удобство кресел среднее, тепло, не останавливает, если полный, автодверь, доедет быстро"
        ],
        [
          "е747му",
          "длинный, салон приятный, сиденья достаточно удобные, места между сиденьями хватает"
        ],
        [
          "м345тв ★",
          "длинный, сиденья мягкие, едет мягко, автодверь, доедет быстро"
        ]
      ]
    },
    "transit": {
      "auto_name": "форд транзит",
      "auto_list": [
        [
          "а554рн",
          "места между сиденьями впритык, а еще есть боковые сиденья, внутри низко, трясет и шумно"
        ],
        [
          "р3416аи",
          "места между сиденьями хватает, сиденья не оч, низкая"
        ],
        [
          "с9326аи",
          "сиденья средние по удобству, трясет, скрипит"
        ]
      ]
    },
    "renault": {
      "auto_name": "рено",
      "auto_list": [
        [
          "м611ом ★",
          "места много, удобные сиденья, везде поручни, автодверь. Один такой"
        ]
      ]
    },
    "gasel": {
      "auto_name": "газель",
      "auto_list": [
        [
          "а758рс",
          "места между сиденьями мало, есть боковые и обратные сиденья, трясет, скорость средняя"
        ],
        [
          "т885тт",
          "места между сиденьями мало, есть боковые и обратные сиденья, трясет несильно, не останавливает, если полный, скорость норм"
        ],
        [
          "р1501аи",
          "места между сиденьями мало, есть боковые и обратные сиденья, трясет несильно"
        ]
      ]
    }
  }
