section.content
  margin-bottom: calc(1.5rem + (2 * var(--space)))
    
  table
    width: 100%
    margin-bottom: calc(3 * var(--space))

    border-collapse: collapse

    tr
      border-top: 1px solid var(--rullerColor)

      td
        padding-top: var(--space)
        padding-bottom: var(--space)

        vertical-align: top

        &:first-child
          width: 55px
          padding-right: var(--space)

          text-transform: uppercase
