-
  const list = {
    "sprinter": {
      "auto_name": "мерседес спринтер",
      "auto_list": {
        "row_1": [
          "м292см",
          "длина средняя, сиденья средние по удобству, несильный наклон, при езде неслабо трясется, доедет быстро"
        ],
        "row_2": [
          "м874сс",
          "старая модель, много места, сиденья не очень удобные, а задние — старые, скорость норм"
        ],
        "row_3": [
          "х710на",
          "новая модель, много места, длинный, удобные сиденья и тепло ★"
        ],
        "row_4": [
          "а709рр",
          "средняя модель, длинный, но места между сиденьями мало и наклон недостаточный, скорость норм, <i>из-за тонировки ночью может быть плохо видно, где проезжаешь</i>"
        ],
        "row_5": [
          "а437кс",
          "средняя модель, длинный, места много, сиденья невысокие"
        ],
        "row_6": [
          "а886мм",
          "средняя модель, места между сиденьями много, не трясет, тепло, доедет быстро, но останавливает, даже если полный ★"
        ],
        "row_7": [
          "а465мм",
          "средняя модель, места хватает, не трясет, тепло, автодверь, доедет быстро"
        ],
        "row_8": [
          "х191тм",
          "средняя модель, длинный, места хватает, доедет быстро"
        ],
        "row_9": [
          "е332ак",
          "средняя модель, длинный, сиденья удобные, тепло, автодверь"
        ],
        "row_10": [
          "м773тв",
          "средняя модель, длинный, удобный, тепло, автодверь, доедет быстро"
        ]
      }
    },
    "volkswagen": {
      "auto_name": "фольксваген",
      "auto_list": {
        "row_1": [
          "м619уу",
          "места в салоне хватает, для ног также, удобство кресел среднее, тепло, не останавливает, если полный, автодверь, доедет быстро"
        ],
        "row_2": [
          "е747му",
          "длинный, салон приятный, сиденья достаточно удобные, места между сиденьями хватает"
        ],
        "row_3": [
          "м345тв",
          "длинный, сиденья мягкие, едет мягко, автодверь, доедет быстро ★"
        ]
      }
    },
    "transit": {
      "auto_name": "форд транзит",
      "auto_list": {
        "row_1": [
          "а554рн",
          "места между сиденьями впритык, а еще есть боковые сиденья, внутри низко, трясет и шумно"
        ]
      }
    },
    "gasel": {
      "auto_name": "газель",
      "auto_list": {
        "row_1": [
          "а758рс",
          "места между сиденьями мало, есть боковые и обратные сиденья, трясет, скорость средняя"
        ],
        "row_2": [
          "т885тт",
          "места между сиденьями мало, есть боковые и обратные сиденья, трясет несильно, не останавливает, если полный, скорость норм"
        ]
      }
    }
  }
