include content-db.pug

mixin table(list)
  section.content
    each auto in list
      h2
        | !{auto.auto_name}
      table
        each row in auto.auto_list
          tr
            each element in row
              td
                | !{element}

+table(list)