section.content
  margin-bottom: 3rem
  
  section
    margin-bottom: 4rem

    article
      padding: 1rem

      border-radius: 0.25rem

      &:hover
        background-color: var(--backgroundHoverColor)

      span
        display: block

        &:first-child
          font-weight: bold
          text-transform: uppercase