@media screen and (min-width: 901px)
  section.content
    display: flex
    flex-wrap: wrap

    h2
      flex: 30%

    section
      display: flex
      flex: 70%
      flex-wrap: wrap

      article
        flex: calc(33% - 2rem) 0