include content-db.pug

mixin table(list)
  section.content
    section.road
      h2
        | !{list.head}
    section.auto
      each auto in list.body
        h2
          | !{auto.auto_name}
        table
          each row in auto.auto_list
            tr
              td
                | !{row.number}
              td
                ul
                  each el in row.char
                    li
                      | !{el}

+table(first_route)