include content-db.pug

mixin table(list)
  section.content
    each auto in list
      h2
        | !{auto.auto_name}
      section
        each row in auto.auto_list
          article
            each element in row
              span
                | !{element}

+table(list)