title Маршрутки Сухума

<!-- HTML Meta Tags -->
meta(name="Description", content="Список крутых и плохих маршруток Сухума")
meta(name="theme-color", content="#fafafa")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")

<!-- Google / Search Engine Tags -->
meta(itemprop="name", content="Маршрутки Сухума")
meta(itemprop="description", content="Список крутых и плохих маршруток Сухума")
meta(itemprop="image", content="/base/og.jpg")

<!-- Facebook Open Graph Meta Tags -->
meta(property="og:type", content="website")
meta(property="og:image", content="/base/og.jpg")
meta(property="og:url", content="https://sukhumtransport.now.sh")
meta(property="og:title", content="Маршрутки Сухума")
meta(property="og:description", content="Список крутых и плохих маршруток Сухума")
meta(property="og:locale", content="ru_RU")

<!-- Twitter Card Meta Tags -->
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:url", content="https://sukhumtransport.now.sh")
meta(name="twitter:title", content="Маршрутки Сухума")
meta(name="twitter:description", content="Список крутых и плохих маршруток Сухума")
meta(name="twitter:image", content="/base/og.jpg")

<!-- IOS Meta Tags -->
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name="apple-mobile-web-app-title", content="Маршрутки Сухума")

<!-- Linked files -->
link(rel="manifest", href="manifest.webmanifest")
link(rel="stylesheet", href="/main.sss")

<!-- Icons -->
link(rel="apple-touch-icon", sizes="256x256", href="/base/apple-icon-256.png")
link(rel="apple-touch-icon", sizes="128x128", href="/base/apple-icon-128.png")
link(rel="apple-touch-icon", sizes="64x64", href="/base/apple-icon-64.png")
link(rel="apple-touch-icon", sizes="32x32", href="/base/apple-icon-32.png")
link(rel="apple-touch-icon", sizes="16x16", href="/base/apple-icon-16.png")

link(rel="icon", href="/base/icon.svg", type="img/svg+xml")
link(rel="icon", sizes="256x256", href="/base/icon-256.png", type="img/png")
link(rel="icon", sizes="128x128", href="/base/icon-128.png", type="img/png")
link(rel="icon", sizes="64x64", href="/base/icon-64.png", type="img/png")
link(rel="icon", sizes="32x32", href="/base/icon-32.png", type="img/png")
link(rel="icon", sizes="16x16", href="/base/icon-16.png", type="img/png")
