title Маршрутки Сухума

<!-- HTML Meta Tags -->
meta(name="Description", content="Маршрутки Сухума: удобство, скорость")
meta(name="theme-color", content="")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
meta(http-equiv="X-UA-Compatible", cont="ie=edge")

<!-- Google / Search Engine Tags -->
meta(itemprop="name", content="Маршрутки Сухума")
meta(itemprop="description", content="Маршрутки Сухума: удобство, скорость")
//- meta(itemprop="image", content="/base/og.jpg")

<!-- Facebook Open Graph Meta Tags -->
meta(property="og:type", content="website")
//- meta(property="og:image", content="/base/og.jpg")
meta(property="og:url", content="https://sukhumtransport.now.sh")
meta(property="og:title", content="Маршрутки Сухума")
meta(property="og:description", content="Маршрутки Сухума: удобство, скорость")
meta(property="og:locale", content="ru_RU")

<!-- Twitter Card Meta Tags -->
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:url", content="https://sukhumtransport.now.sh")
meta(name="twitter:title", content="Маршрутки Сухума")
meta(name="twitter:description", content="Маршрутки Сухума: удобство, скорость")
//- meta(name="twitter:image", content="/base/og.jpg")

<!-- IOS Meta Tags -->
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name="apple-mobile-web-app-title", content="Маршрутки Сухума")

<!-- Linked files -->
link(rel="manifest", href="manifest.webmanifest")
link(rel="stylesheet", href="/main.sss")

<!-- Icons -->
link(rel="preload", href="fonts/IBMPlexSans-Medium.woff2", as="font", type="font/woff2", crossorigin="anonymous")
link(rel="preload", href="fonts/IBMPlexSans-MediumItalic.woff2", as="font", type="font/woff2", crossorigin="anonymous")
link(rel="preload", href="fonts/IBMPlexSerif-MediumItalic.woff2", as="font", type="font/woff2", crossorigin="anonymous")
//- link(rel="apple-touch-icon", sizes="128x128", href="/base/logo-128.png")
//- link(rel="apple-touch-icon", sizes="64x64", href="/base/logo-64.png")
//- link(rel="apple-touch-icon", sizes="32x32", href="/base/logo-32.png")
//- link(rel="apple-touch-icon", sizes="16x16", href="/base/logo-16.png")
//- link(rel="icon", sizes="128x128", href="/base/logo-128.png", type="img/png")
//- link(rel="icon", sizes="64x64", href="/base/logo-64.png", type="img/png")
//- link(rel="icon", sizes="32x32", href="/base/logo-32.png", type="img/png")
//- link(rel="icon", sizes="16x16", href="/base/logo-16.png", type="img/png")