<!DOCTYPE html>
html(lang="ru")
  include head/head.pug
  body
    include header/header.pug
    main
      h1 Список крутых и плохих маршруток Сухума
      include content/content.pug
    include footer/footer.pug
