<!DOCTYPE html>
html(lang="ru", itemscope, itemtype="http://schema.org/WebPage")
  include head/head.pug
  body
    main
      h1 Список крутых и плохих маршруток Сухума
      include content/content.pug
    include footer/footer.pug
