<!DOCTYPE html>
html(lang="ru")
  include head/head.pug
  body
    main
      h1 Список крутых и плохих маршруток Сухума
      img(src="/base/ford.jpg")
      include content/content.pug
    include footer/footer.pug
