footer
  p
    | © 2020
    br
    | Давид Кистаури
  p
    a(href="https://twitter.com/dtroode") Твиттер
    |  · 
    a(href="https://t.me/dtroode") Телеграм
    |  · 
    a(href="https://t.me/s/dtroode_channel") Телеграм канал
    |  · 
    a(href="https://davidkistauri.ru") Сайт
    |  · 
    a(href="mailto:davidkis113@gmail.com") Почта
