footer
  margin-bottom: calc(2 * var(--space))

  border-top: 1px solid var(--rullerColor)

  a
    border-bottom: 1px solid var(--rullerColor)

    &:hover, &:focus
      border-bottom: 1px solid var(--rullerHoverColor)